.border {
  border: 2px solid red;
  margin: 2px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.bg-grey {
  background-color: #121212;
}

.invert {
  filter: invert(1);
}

.rounded {
  border-radius: 7px;
}

.m-1 {
  margin: 5px;
}

.p-1 {
  padding: 10px;
}

.active {
  transform: scale(1.08);
}

.blur {
  background-color: rgba(220, 220, 220, 0.2);
  backdrop-filter: blur(15px);
}

/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
  }
} */
